<?xml version="1.0"?>
<launch>
    <node name="teleop_key" pkg="turtlesim" type="turtle_teleop_key" required="true" launch-prefix="xterm -e">
      <!-- added this remap to be able to test the configuration on the same computer -->
      <remap from="/turtle1/cmd_vel" to="/cmd_vel"/>
    </node>

    <!-- JAUS configuration used by IOP bridge components
         EnableLoopback  = "2" enables you to catch the UDP messages by wireshark. -->
    <param name="jaus_config" value="$(find jaustoolset)/cfg/nm.cfg"/>
    
    <!-- Start the rqt and "FKIE IOP/Access Control" plugin 
    You need get the control. Without control no commands are published to the ROS topics by primitive driver.
    -->
    <node name="rqt_ocu" pkg="rqt_gui" type="rqt_gui" args="--force-discover -s fkie_iop_rqt_access_control.iop_rqt_access_control.AccessControlClient"/>

    <node name="iop_ocu_client" pkg="fkie_iop_component" type="iop_component" clear_params="true">
        <param name="iop_address" value="153.64.200"/>
        <param name="name_node" value="control_client"/>
        <rosparam param="services">
          [
            fkie_iop_discovery: "DiscoveryClient",
            # added client for primitive driver and also his subservices
            fkie_iop_client_primitive_driver: "PrimitiveDriverClient",
            fkie_iop_client_velocity_state_sensor: "VelocityStateSensorClient",
            fkie_iop_client_local_pose_sensor: "LocalPoseSensorClient"
          ]
        </rosparam>
        <rosparam subst_value="true">
            use_queries: false
            DiscoveryClient:
                register_own_services: false
                enable_ros_interface: true
            # configuration for primitive client
            # see https://github.com/fkie/iop_jaus_mobility_clients#fkie_iop_client_primitive_driver-primitivedriverclient
            PrimitiveDriverClient:
                # do not use the stamped twist messages
                use_stamped: false
                # new parameter added to handle velocities greater than 1.0
                # you should update the https://github.com/fkie/iop_jaus_mobility_clients repository
                max_linear: 2
                max_angular: 2
                # added remap to catch commands from the right topic or use 'remap' of launch file
                topic_sub_joy_cmd_vel: cmd_vel
            LocalPoseSensorClient:
                source_type: 2
                tf_frame_odom: base_link
                topic_pub_pose: /client_pose
                topic_pub_odom: /client_odom
        </rosparam>
    </node>

</launch>
