<?xml version="1.0"?>
<launch>
    <!-- JAUS configuration used by IOP bridge components
         EnableLoopback  = "2" enables you to catch the UDP messages by wireshark. -->
    <param name="jaus_config" value="$(find jaustoolset)/cfg/nm.cfg"/>

    <param name="name_subsystem" value="robot"/>
    <node name="iop_platform_manager2" pkg="fkie_iop_component" type="iop_component">
        <param name="name_node" value="platform manager"/>
        <param name="iop_address" value="1.3.15"/>
        <rosparam param="services">
            [
            fkie_iop_discovery: "Discovery",
            fkie_iop_liveness: "Liveness",
            fkie_iop_health_monitor: "HealthMonitor",
            # only one DigitalResourceDiscovery should be available on the robot and should by a part of the platform manager
            fkie_iop_digital_resource_discovery: "DigitalResourceDiscovery",
            # client to detect the DigitalResourceDiscovery service and register there the sources
            fkie_iop_digital_resource_discovery : "DigitalResourceDiscoveryClient",
            # services to configure the video sources
            fkie_iop_digital_video: "DigitalVideo",
            fkie_iop_visual_sensor: "VisualSensor",
            ]
        </rosparam>
        <rosparam subst_value="true">
            Discovery:
                system_id: 2  # 2: Subsystem Identification, 3: Node Identification, 4: Component Identification
                system_type: 10001  # 10001: VEHICLE, 20001: OCU, 30001: OTHER_SUBSYSTEM, 40001: NODE, 50001: PAYLOAD, 60001: COMPONENT
            DigitalVideo:
                # list with video streams. Format: "ID/Type of source": "URL".
                # Example for RTSP stream: "1/rtsp" : "rtsp://URL"
                video_endpoints:
                - "1/mpeg2ts": "$(find fkie_iop_cfg_sim_video)/resources/example.mp4"
                - "2/https": "https://youtu.be/h4rhdZ_MXf8?t=17"
            VisualSensor:
                capabilities:
                - "1":
                    - name: "local"
                - "2":
                    - name: "youtu.be"
        </rosparam>
    </node>
 </launch>
