<?xml version="1.0"?>
<launch>
  <arg name="ns" default="ocu"/>
  <arg name="id_subsystem" default="150"/>
  <arg name="load_gui" default="true"/>

  <node if="$(arg load_gui)" name="rqt_ocu" pkg="rqt_gui" type="rqt_gui"
        ns="$(arg ns)" args="--force-discover --perspective-file $(find iop_cfg_sim_stage_fkie)/launch/iop.perspective">
    <param name="capability_group" value="control"/>
  </node>

  <node if="$(arg load_gui)" name="rviz_ocu" pkg="rviz" type="rviz"
        ns="$(arg ns)" args="-d $(find iop_cfg_sim_stage_fkie)/launch/iop.rviz">
    <param name="capability_group" value="control"/>
  </node>

  <include file="$(find iop_cfg_sim_stage_fkie)/launch/inc_iop_control.launch" ns="$(arg ns)" >
       <arg name="ns" value="$(arg ns)" />
  </include>

</launch>