<?xml version="1.0"?>
<launch>
  <arg name="ns" default="ocu"/>
  <arg name="iop_address" default="150.64.200"/>
  <arg name="only_monitor" default="false"/>
  <arg name="client_suffix" default=""/>
  <arg name="subsystem_restricted" default="65535" />

<!--
    <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py">
      <param name="capability_group" value="control"/>
    </node>
-->
    <param name="name_subsystem" value="OCU for $(arg ns)"/>
    <node name="iop_ocu_client$(arg client_suffix)" pkg="iop_component_fkie" type="iop_component">
        <param name="capability_group" value="iop_bridge"/>
        <param name="iop_address" value="$(arg iop_address)"/>
        <param name="name_node" value="control_client"/>
        <param name="only_monitor" value="$(arg only_monitor)"/>
        <param name="subsystem_restricted" value="$(arg subsystem_restricted)" />
        <rosparam param="services">
          [
            iop_transport_fkie: "Transport",
            iop_events_fkie: "EventsClient",
            iop_discovery_fkie: "DiscoveryClient",
            iop_accesscontrol_fkie: "AccessControlClient",
            iop_management_fkie: "ManagementClient",
            iop_client_primitive_driver_fkie: "PrimitiveDriverClient",
            iop_client_local_pose_sensor_fkie: "LocalPoseSensorClient",
            iop_client_global_pose_sensor_fkie: "GlobalPoseSensorClient",
            iop_client_range_sensor_fkie: "RangeSensorClient",
            iop_client_costmap2d_fkie: "CostMap2DClient",
          ]
        </rosparam>
        <param name="register_own_services" value="false"/>
        <param name="register_own_services" value="false" />
        <param name="enable_ros_interface" value="true"/>
        <!-- Primitive Driver Parameter -->
        <param name="use_stamped" value="false" />
        <remap from="joy_cmd_vel" to="cmd_vel"/>
        <!-- Local Pose Parameter -->
        <param name="tf_frame_odom" value="/$(arg ns)/odom"/>
        <param name="tf_frame_robot" value="/$(arg ns)/base_link"/>
        <remap from="~odom" to="odom"/>
        <!-- Local Pose Parameter -->
        <!-- <remap from="fix" to="fix_new"/> -->
        <!-- Range Sensor Parameter -->
        <param name="tf_frame_robot" value="/$(arg ns)/base_link"/>
        <!-- CostMap2D Parameter -->
        <param name="tf_frame_odom" value="/$(arg ns)/odom"/>
        <param name="tf_frame_costmap" value="/$(arg ns)/costmap"/>
    </node>

</launch>