<?xml version="1.0"?>
<launch>
    <arg name="robot_ns" default="bobrob"/>
    <arg name="id_subsystem" default="133"/>
    <param name="utm_zone" value="33" />
    <param name="utm_band" value="T" />

    <param name="use_sim_time" value="true"/>

    <node name="jaus_node_manager" pkg="node_manager_fkie" type="script_runner.py">
        <param name="script" value="$(find jaustoolset)/JTSNodeManager $(find jaustoolset)/cfg/nm.cfg" />
        <!-- <param name="stop_script" value="pkg://iop_builder_fkie///jaus_node_manager.sh stop" /> -->
    </node>

    <group ns="$(arg robot_ns)">
        <!-- stage_simulator -->
        <node name="ros_stage_roemer" pkg="stage_ros" type="stageros" args="$(find iop_cfg_sim_stage_fkie)/launch/stageone/roemer.world">
            <param name="capability_group" value="0simulation" />
        </node>

        <node required="true" name="tf_world_roemer_map" pkg="tf" type="static_transform_publisher" args="365796 5624047 0 0 0 0 /world map 100">
            <param name="capability_group" value="0simulation"/>
        </node>
    </group>

    <include file="$(find iop_cfg_sim_stage_fkie)/launch/inc_iop_robot.launch" ns="$(arg robot_ns)">
        <arg name="robot_ns" value="$(arg robot_ns)" />
        <arg name="id_subsystem" value="$(arg id_subsystem)" />
    </include>

</launch>
