log4j.logger.ros=INFO
log4j.logger.ros.iop_accesscontrol_fkie=DEBUG
log4j.logger.ros.iop_discovery_fkie=INFO
log4j.logger.ros.iop_component_fkie=INFO
log4j.logger.ros.iop_component_fkie.InternalProcess=INFO
log4j.logger.ros.iop_component_fkie.pluginlib.ClassLoader=INFO
log4j.logger.ros.iop_digital_resource_discovery_fkie.DigitalResourceDiscovery=INFO