log4j.logger.ros=INFO
log4j.logger.ros.iop_accesscontrol_fkie=INFO
log4j.logger.ros.iop_discovery_fkie=INFO
log4j.logger.ros.iop_component_fkie=INFO
log4j.logger.ros.iop_component_fkie.InternalProcess=INFO
log4j.logger.ros.iop_component_fkie.pluginlib.ClassLoader=INFO
log4j.logger.ros.iop_digital_resource_discovery_fkie.DigitalResourceDiscovery=INFO
log4j.logger.ros.iop_events_fkie=INFO
log4j.logger.ros.iop_events_fkie.Events=INFO
log4j.logger.ros.iop_events_fkie.EventsClient.Event=INFO
log4j.logger.ros.iop_client_range_sensor_fkie.RangeSensorClient=INFO
log4j.logger.ros.iop_global_waypoint_list_driver_fkie.GlobalWaypointListDriver=INFO
log4j.logger.ros.iop_global_waypoint_list_driver_fkie=INFO
log4j.logger.ros.iop_list_manager_fkie.InternalElementList=INFO
log4j.logger.ros.iop_list_manager_fkie.ListManager=INFO
log4j.logger.ros.iop_list_manager_fkie.ListManagerClient=INFO
log4j.logger.ros.iop_client_global_waypoint_list_driver_fkie=INFO
log4j.logger.ros.iop_component_fkie.InternalProcess=INFO
log4j.logger.ros.iop_management_fkie=INFO
log4j.logger.ros.iop_path_reporter_fkie=INFO
log4j.logger.ros.iop_client_path_reporter_fkie=INFO
