log4j.logger.ros=INFO
log4j.logger.ros.fkie_iop_accesscontrol=INFO
log4j.logger.ros.fkie_iop_discovery=INFO
log4j.logger.ros.fkie_iop_component=INFO
log4j.logger.ros.fkie_iop_component.InternalProcess=INFO
log4j.logger.ros.fkie_iop_component.pluginlib.ClassLoader=INFO
log4j.logger.ros.fkie_iop_digital_resource_discovery.DigitalResourceDiscovery=INFO
log4j.logger.ros.fkie_iop_events=INFO
log4j.logger.ros.fkie_iop_events.Events=INFO
log4j.logger.ros.fkie_iop_events.EventsClient.Event=INFO
log4j.logger.ros.fkie_iop_client_range_sensor.RangeSensorClient=INFO
log4j.logger.ros.fkie_iop_global_waypoint_list_driver.GlobalWaypointListDriver=INFO
log4j.logger.ros.fkie_iop_global_waypoint_list_driver=INFO
log4j.logger.ros.fkie_iop_list_manager.InternalElementList=INFO
log4j.logger.ros.fkie_iop_list_manager.ListManager=INFO
log4j.logger.ros.fkie_iop_list_manager.ListManagerClient=INFO
log4j.logger.ros.fkie_iop_client_global_waypoint_list_driver=INFO
log4j.logger.ros.fkie_iop_component.InternalProcess=INFO
log4j.logger.ros.fkie_iop_management=INFO
log4j.logger.ros.fkie_iop_path_reporter=INFO
log4j.logger.ros.fkie_iop_client_path_reporter=INFO
